@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-purple: #6c63ff;
  --color-purple-200: #413bad;
  --color-black: #252525;
  --color-white: #fff;
  --font-kanit: "Kanit", sans-serif;
}

/* Esconde o checkbox padrão */
input[type="checkbox"] {
  display: none;
}

/* Estiliza o elemento visual */
.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-purple);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

/* Estiliza o estado "marcado" */
.checkbox-custom::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--color-purple);
  background-image: url('../images/check.svg');
  background-position: center center;
  border-radius: 2px;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.2s ease; /* Adiciona uma animação */
}

/* Mostra o elemento "marcado" quando o checkbox é selecionado */
input[type="checkbox"]:checked + .checkbox-custom::before {
  opacity: 1;
}

input[type="checkbox"]:checked label span{
    text-decoration: line-through;
    background-color: red;
}

/* Adiciona um estilo para o label, se necessário */
label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

/* Estilo para o label junto com o checkbox */
label span {
  margin-left: 5px;
}

