@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-purple: #6c63ff;
  --color-purple-200: #413bad;
  --color-black: #252525;
  --color-white: #fff;
  --font-kanit: "Kanit", sans-serif;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--color-purple);
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-title span {
  font-family: var(--font-kanit);
  font-size: 1.1rem;
  font-weight: bold;
}

.task-options {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.task-description {
  padding: 6px;
  margin: 8p 0;
  text-align: left;
}

.hide {
  display: none;
}
